$bg: #111111;
$bg_darker: #121212;
$font: 'Aleo',
serif;
$font-alt_regular: 'Hansief Regular';
$font-alt_rough: 'Hansief Rough';
$font_color: #fff;
$font_color-dim: #848484;
$accent_color: #e64127;
.form_container {
    width: 100%;
    height: fit-content;
}

.input-field,
.input-button,
.input-label {
    border: none;
    outline: none;
    background: transparent;
    font-family: inherit;
    color: $font_color;
}

.input-form {
    position: relative;
    display: flex;
    width: 100%;
}

.input-field {
    z-index: 2;
    width: 10rem;
    height: 100%;
    padding: .375rem .5rem;
}

.label-text {
    z-index: 0;
    position: absolute;
    top: 0;
    left: .25rem;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: .85rem;
    font-style: italic;
    color: $font_color-dim;
    transition: transform 200ms ease-in-out;
}

.label-underline {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $accent_color;
    transition: transform 200ms ease-out;
    transform-origin: 100%;
    transform: scaleX(0);
}

.label-mdi {
    color: $font_color-dim;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 200ms ease-out;
}

.input-field:focus~.input-label .label-text.text_down,
.input-field:not(:placeholder-shown)~.input-label .label-text.text_down {
    transform: translateX(-15%) translateY(90%) scale(.75);
}

.input-field:focus~.input-label .label-underline,
.input-field:not(:placeholder-shown)~.input-label .label-underline {
    transform: scaleX(1);
}

.input-field:focus~.input-label .label-mdi,
.input-field:not(:placeholder-shown)~.input-label .label-mdi {
    color: $font_color;
}

.input-button {
    cursor: pointer;
}

._burger {
    color: $font_color-dim;
}
._burger:focus {
    color: $font_color;
}
